<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="WordExtensionList" value="doc,docx,txt,rtf,docm"/>
        <add key="ExcelExtensionList" value="xls,xlsx,xlsm,xlsb,csv"/>
        <add key="VisioExtensionList" value="vsd,vdx"/>
        <add key="PowerPointExtensionList" value="ppt,pptx,pptm"/>
        <add key="ProjectExtensionList" value="mpp"/>
    </appSettings>
</configuration>