
.system-ui-item {
    color: #4d5d6d;
    font-size: 12px;
    font-weight: bolder;
    display: inline-block;
    padding: 0 10px 2px 10px;
    text-align: center;
    height: 26px;
    line-height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 4px;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.system-column-widget {
    background: #ffffca;
    background: linear-gradient(#ffffca, #dfb988);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffca), to(#dfb988));
    background: -moz-linear-gradient(top, #ffffca, #dfb988);
    background: -ms-linear-gradient(#ffffca, #dfb988);
    background: -o-linear-gradient(#ffffca, #dfb988);
    border: 1px solid #a0acaa;
    cursor: pointer;
}
