<?xml version="1.0" encoding="utf-8" ?>
<!-- Environment Specific Setting here-->
<appSettings>
    <add key="AssuranceUrlDomain" value="QAtest.sungardcms.com"/>

    <add key="AssuranceServicesBaseUrl"             value="https://qa01.assurance.sungardas.com" />
    <add key="AssuranceBaseUrl"                     value="https://qa01.assurance.sungardas.com"/>
    <add key="AssuranceIdentityServiceUrl"          value="/AidSvc/api" />
    <add key="AssuranceIdentityAuthVerifyToken"     value="/auth/VerifyToken" />
    <add key="AssuranceIdentityAuthGetToken"        value="/auth/GetToken" />
</appSettings>
