<?xml version="1.0"?>
<connectionStrings>
    <!-- In general, any connection string that is NOT customer specific needs to be set correctly in here (or in web.config)-->
    <!-- Customer/Tenant DB connections are built dynamically at runtime based on entries in the customer table in CORE-->

    <!-- CORE DB - This needs to be set correctly for the environment -->
    <add name="CoreDbContext" connectionString="Data Source=.\SQL2012;Initial Catalog=CORE;Integrated Security=False;Persist Security info=True;User ID=sa;password=Ldrps10@;Connect Timeout=30" providerName="System.Data.SqlClient" />

    <!-- Log4Net - Logs messages and errors - This needs to be set correctly for the environment -->
    <add name="Log4Net" connectionString="Data Source=.\SQL2012;Initial Catalog=ELMAH;Integrated Security=False;Persist Security info=True;User ID=sa;password=Ldrps10@;Connect Timeout=30"/>

    <!-- EF context connection strings - These are used as "templates" and the DBServer, DBName, Password and User are substituted at runtime, so don't much matter here-->
    <add name="SecurityContext" connectionString="metadata=res://*/Security.SecurityModel.csdl|res://*/Security.SecurityModel.ssdl|res://*/Security.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2012;initial catalog=LDRPS11;user id=sa;password=Ldrps10@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Assurance"
         connectionString="Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=30;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>