<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>
    
    <appSettings>
        <add key="SunGardAS.Data.TennantConnectionStringName" value="Assurance" />
    </appSettings>
    
    <connectionStrings>
        <!-- In general, any connection string that is NOT customer specific needs to be set correctly in here (or in web.config)-->
        <!-- Customer/Tenant DB connections are built dynamically at runtime based on entries in the customer table in CORE-->
        <!-- CORE DB - This needs to be set correctly for the environment -->
        <!--add name="CoreDbContext" connectionString="metadata=res://*/CoreDb.CoreDbModel.csdl|res://*/CoreDb.CoreDbModel.ssdl|res://*/CoreDb.CoreDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2012;initial catalog=CORE;user id=sa;password=Ldrps10@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
        <add name="CoreDbContext" connectionString="metadata=res://*/CoreDb.CoreDbModel.csdl|res://*/CoreDb.CoreDbModel.ssdl|res://*/CoreDb.CoreDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHPAQASQL14\QA01;initial catalog=QA01Core;user id=ACMSystem;password=Admin!Admin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="Assurance" connectionString="Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=180;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <castle>
        <components>
            <component id="Caching.MemoryCacheProvider" service="SunGardAS.Caching.ICacheProvider, SunGardAS" type="SunGardAS.CMS.Domain.Caching.MemoryCacheProvider, SunGardAS.CMS.Domain" lifestyle="transient">
            </component>
            <component id="Caching.CacheInvalidationEventFactory" service="SunGardAS.Caching.ICacheInvalidationEventFactory, SunGardAS" type="SunGardAS.Caching.CacheInvalidationEventFactory, SunGardAS" lifestyle="singleton">
            </component>
            <component id="Caching.MetadataProvider" service="SunGardAS.CMS.Domain.Caching.Metadata.IMetadataProvider, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Caching.Metadata.MetadataProvider, SunGardAS.CMS.Domain" lifestyle="transient">
                <parameters>
                    <cacheProvider>${Caching.MemoryCacheProvider}</cacheProvider>
                    <cacheInvalidationEventFactory>${Caching.CacheInvalidationEventFactory}</cacheInvalidationEventFactory>
                    <metadataDependencyDetailProvider>${Caching.MetadataDependencyDetailProvider}</metadataDependencyDetailProvider>
                    <metadataAuditRelationshipProvider>${Caching.MetadataAuditRelationshipProvider}</metadataAuditRelationshipProvider>
                </parameters>
            </component>
            <component id="Caching.MetadataAuditRelationshipProvider" service="SunGardAS.CMS.Domain.Caching.Metadata.IMetadataAuditRelationshipProvider, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Caching.Metadata.MetadataAuditRelationshipProvider, SunGardAS.CMS.Domain">
                <parameters>
                    <cacheProvider>${Caching.MemoryCacheProvider}</cacheProvider>
                </parameters>
            </component>
            <component id="Caching.MetadataDependencyDetailProvider" service="SunGardAS.CMS.Domain.Caching.Metadata.IMetadataDependencyDetailProvider, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Caching.Metadata.MetadataDependencyDetailProvider, SunGardAS.CMS.Domain">
                <parameters>
                    <cacheProvider>${Caching.MemoryCacheProvider}</cacheProvider>
                </parameters>
            </component>
            <component id="Caching.PickFromListProvider" service="SunGardAS.CMS.Domain.Caching.PickFromList.IPickFromListProvider, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Caching.PickFromList.PickFromListProvider, SunGardAS.CMS.Domain" lifestyle="transient">
                <parameters>
                    <cacheProvider>${Caching.MemoryCacheProvider}</cacheProvider>
                </parameters>
            </component>
            <component id="Data.PrimaryKeyGenerator" service="SunGardAS.CMS.Domain.Data.Metadata.KeyGenerators.IPrimaryKeyGenerator, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Data.Metadata.KeyGenerators.PrimaryKeyGenerator, SunGardAS.CMS.Domain" lifestyle="transient">
            </component>
            <component id="Data.BizKeyGenerator" service="SunGardAS.CMS.Domain.Data.Metadata.KeyGenerators.IBizKeyGenerator, SunGardAS.CMS.Domain" type="SunGardAS.CMS.Domain.Data.Metadata.KeyGenerators.BizKeyGenerator, SunGardAS.CMS.Domain" lifestyle="transient">
            </component>
            <component id="Data.MetadataAwareSqlAdapter" service="SunGardAS.Data.Sql.ISqlAdapter, SunGardAS" type="SunGardAS.CMS.Domain.Data.Metadata.SqlAdapters.MetadataAwareSqlAdapter, SunGardAS.CMS.Domain" lifestyle="transient">
                <parameters>
                    <metadataProvider>${Caching.MetadataProvider}</metadataProvider>
                    <pickFromListProvider>${Caching.PickFromListProvider}</pickFromListProvider>
                    <primaryKeyGenerator>${Data.PrimaryKeyGenerator}</primaryKeyGenerator>
                    <bizKeyGenerator>${Data.BizKeyGenerator}</bizKeyGenerator>
                </parameters>
            </component>
            <component id="Data.SungardAsDatabase" service="SunGardAS.Data.ISungardAsDatabase, SunGardAS" type="SunGardAS.Data.SungardAsDatabase, SunGardAS" lifestyle="transient">
                <parameters>
                    <sqlConnectionStringProvider>${Data.SqlConnectionStringProvider}</sqlConnectionStringProvider>
                    <dataConfigurationProvider>${Data.DataConfigurationProvider}</dataConfigurationProvider>
                    <sqlAdapter>${Data.MetadataAwareSqlAdapter}</sqlAdapter>
                </parameters>
            </component>
            <component id="Data.SqlConnectionStringProvider" service="SunGardAS.Data.ISqlConnectionStringProvider, SunGardAS" type="SunGardAS.CMS.Domain.Data.SqlConnectionStringProvider, SunGardAS.CMS.Domain" lifestyle="transient">
            </component>
            <component id="Data.DataConfigurationProvider" service="SunGardAS.Data.IDataConfigurationProvider, SunGardAS" type="SunGardAS.Data.DataConfigurationProvider, SunGardAS" lifestyle="transient">
            </component>
        </components>
    </castle>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>